body {
    background-image: url(../imagesf/imagep.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }

.roundBorder{
    border-radius: 20px;
}

.myborder{
    border-width: 1px;
}

.mypadding{
    padding-left: 20%;
    padding-right: 20%;
}

.roundBorderbg{
    border-radius: 20px;
    background-color: white;
}

.divheight{
    min-height: 450px;
}

.moveright{
    position: absolute;
    right: 30px;
}
